<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello World!</title>
</head>
<style>

    .top{
       width:1000px;
        border-bottom: solid #ddd 1px;
        height: auto;
    }

    .logo{
        border-right: solid #ddd 1px;
        float:left;
    }
    .text{
        float: left;

    }

</style>

<body>
<div class = "top">
    <div class ="logo"></div>
    <div class ="text">用户注册</div>
</div>

<div class ="content">

</div>

<div class =""></div>
</body>
</html>